.homes {
  display: flex;
  max-width: 100%;
}

.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.heading1 {
  /* text-align: center; */
  font-size: 5vh;
}

.light {
  background-color: black;
}
